
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>
</head>
<body>

    <div class="row">
        <div>
            <div class="row">
                <div class="s12 col">
                    <div class="row">
                        <div class="elemento" id="logo" style="position:absolute; width:300px; height:100px; top: 50px; left: 60px">
                            <img src="~/imagenes/samm.png" align="left" />
                        </div>
                        <div class="text-center" top: 50px;>
                            <h4>REGISTRO DE ORDENES</h4>
                        </div>
                        <div class="elemento" id="logo" style="position:absolute; width:300px; height:100px; top: 50px; left: 1000px">
                            <img src="~/imagenes/bolivar.png" align="right" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <div class="estilo" style="position:absolute; top: 150px; height: 1000px;">
            <div class="estilo2" style=" top: 200px; height: 500px;">

            </div>
        </div>


</html>
